.hero {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  text-align: center;
}
.hero__video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero__header {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 32px;
}
.hero__headline {
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 24px;
}
.hero__buttons {
  display: flex;
  justify-content: space-between;
  width: 420px;
  margin-top: 20px;
}
.btn__icon {
  transform: translate(40%, 15%);
}
@media screen and (max-width: 768px) {
  .hero__header {
    font-size: 48px;
  }
  .hero__headline {
    font-size: 28px;
  }
  .hero__buttons {
    flex-direction: column;
    align-items: center;
    height: 130px;
    width: max-content;
  }
  .hero__buttons .btn-mobile,
  .hero__buttons .btn {
    width: 100% !important;
  }
}
