.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: white;
  padding: 36px 0;
}
.footer__header {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}
.footer__subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__subscription__headline {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 400;
}
.footer__subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-bottom: 48px;
}

.footer__subscription__form .btn-mobile,
.footer__subscription__form .btn {
  width: 100%;
}
.footer__subscription__form input {
  width: 100%;
  outline: 2px rgba(55, 125, 255, 0.4);
  border: 2px rgba(55, 125, 255, 0.4);
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 16px;
}
.footer__wrapper {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.footer__links {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  margin-bottom: 32px;
}

.footer__links__header {
  font-size: 24px;
  margin-bottom: 16px;
}
.footer__links__item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
  width: fit-content;
}
.footer__links__item:hover {
  border-bottom: #fff 1px solid;
  margin-bottom: 4px;
}
.footer__wrapper--display-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 16px;
}
.footer__logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.footer__copyright {
  align-self: center;
  text-align: center;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socials__item {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.footer__socials__item:hover {
  color: #f39c12;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__wrapper--display-grid {
    grid-template-columns: 1fr;
  }
  .footer__logo,
  .footer__copyright,
  .footer__links {
    margin-bottom: 16px;
  }
}
